[build]
command   = "npm run build"
publish   = ".next"
functions = "netlify/functions"
ignore_secrets = ["NEXT_PUBLIC_FIREBASE_API_KEY"]


[dev]
command = "npm run dev"
port = 8888

[[redirects]]
from = "/*"
to = "/index.html"
status = 200