@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeInOverlay {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideInMenu {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fadeInOverlay {
  animation: fadeInOverlay 0.3s ease-out forwards;
}

.animate-slideInMenu {
  animation: slideInMenu 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

/* Stagger per items */
.animate-slideInItem1 { animation-delay: 0.1s; }
.animate-slideInItem2 { animation-delay: 0.2s; }
.animate-slideInItem3 { animation-delay: 0.3s; }

/* globals.css */
.page-transition-ready {
  animation: none !important;
}

.page-fade-out {
  opacity: 0 !important;
  transition: opacity 0.3s ease-out !important;
}

.page-fade-in {
  opacity: 1;
  animation: fadeInPage 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


